
@{
    ViewBag.Title = "ConfMobile";
    Layout = "~/Views/Shared/_Index.cshtml";
}


    <div id="content">
        <div id="posts" class="teal masonry" style="position: relative; height: 182px;">
          <div style="margin:10px;padding:10px;border:1px solid green;text-align:center;">

              <Center>
                  <div style="@ViewBag.Color">@ViewBag.Message</div>
                  <form action="/Home/ConfMobile" method="post">
                      <table>
                          <tr>
                              <td><input type="text" name="Code" value="" /></td>
                              <td><input type="submit" value="بررسی" /></td>
                          </tr>
                      </table>
                  </form>
              </Center>

          </div>

        </div>

    </div>



